@import "../utils/variables.scss";
.learn-title
{
  font-family: DM Sans;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0%;
  width: 290px;
  height: 180px;
  color: white;
  margin-bottom: 0;
}
.learn-title-modified
{
  margin-bottom: 30px;
}
.learn-info
{
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #E0E0E0;
  margin-top: 0;
}
@media (min-width: 320px)
{
  .section-learn {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    overflow: hidden;
}

.section-learn::before {
  content: "";
  position: absolute;
  width: 375px;
  height: 100%;
  background: #010A20;
  background-size: cover;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  padding-left: 1px;
}

.learn-main {
  position: relative;
  z-index: 1;
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin-top: 0;
}
.wood-road-bg
{
  background-image: url(/img/wood-road-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 40px;
  padding: 30px;
  padding-bottom: 0;
}
.palm-bg
{
  background-image: url(/img/palm-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0 30px 0 30px;
  padding-bottom: 0;
}
.more-btn
{
  width: 314px;
  height: 60px;
  border-radius: 32px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  background-color: $main-red;
  color: white;
  border: none;
  cursor: pointer;
}
}
@media (min-width: 1024px)
{
  .section-learn {
    position: static;
background: 
  linear-gradient(180deg, #010A20 0%, rgba(1, 10, 32, 0) 100%),
  linear-gradient(0deg, #010A20 0%, rgba(1, 10, 32, 0) 100%),
  url(/img/wood-road-bg-pc.png),
  url(/img/palm-bg-pc.png);
background-size: 1900px 500px, 1900px 500px, 1920px 586px, 1920px 586px;
background-repeat: no-repeat;
background-position: center 614px, center 90px, center 0, center 100%;

    display: flex;
    justify-content: start;
    overflow: visible;
    background-color: $main-blue;
    height: 1200px;
}
.learn-img
{
  width: 450px;
}
.section-learn::before {
  display: none;
}

.learn-main {
  position: static;
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.wood-road-bg
{
  display: flex;
  gap: 300px;
  background: none;
  background-size: 1920px 100%;
  padding-top: 40px;
  padding: 30px;
  padding-bottom: 0;
}
.palm-bg
{
  display: flex;
  flex-direction: row-reverse;
  gap: 300px;
  background: none;
  padding: 0 30px 0 30px;
  padding-bottom: 0;
}
.learn-info
{
  width: 400px;
}
.learn-title
{
  width: 450px;
}
}