@import "../utils/variables.scss";
@media (min-width: 320px)
{
    .peoples
    {
        width: 300px;
    }
    .life-gallery
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .life-img
    {
        width: 307px;
    }
    .life
    {
        height: 1451px;
        background-image: url(/img/road-bg.png);
        background-color: $main-blue;
        background-repeat: no-repeat;
        background-position: center;
    }
    .life-title-modified
    {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: 0%;
        text-align: center;
        color: white;
        width: 314px;
        margin-top: 83px;
    }
    .life-overall
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .life-title 
    {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        color: white;
        width: 225;
    }
    .life-info
    {
        font-family: DM Sans;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: center;
        color: white;
        width: 312px;
    }
}
@media (min-width: 1024px)
{
    .life
    {
        background-image: url(/img/road-bg-pc.png);
        background-position: center;
        background-size: 1920px 1400px;
        height: 1400px;
    }
    .life-overall
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }
    .life-title-modified
    {
        width: 900px;
        margin-bottom: 0;
    }
    .life-gallery
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .life-item
    {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    .peoples
    {
        width: 800px;
    }
    .life-info-overall
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .life-info
    {
        text-align: start;
    }
    .life-img
    {
        width: 250px;
    }
}